<style type="text/css">

</style>

<div class="sidebar-background">
  <div>
      <img src="/img/8bitavatar.png" width="100" height="100">
      <h3 style="color:#999999">About Me</h3>
  </div>
  
  <p style="color:#ffffff">Hey there! My name is Jon and I am a Senior software engineering student at UT Dallas.</p>
  
  <div>
  	<h3 style="color:#999999">Places I Hang Out</h3>
    <a href="https://www.facebook.com/jon.darling.14" style="color:#ffffff"><i class="icon-facebook icon-3x" ></i></a> &nbsp <a href="https://twitter.com/coltex_" style="color:#ffffff"><i class="icon-twitter icon-3x" ></i></a> &nbsp <a href="https://plus.google.com/u/1/101931165081836655765/posts" style="color:#ffffff"><i class="icon-google-plus icon-3x" ></i></a> &nbsp <a href="https://github.com/coltex" style="color:#ffffff"><i class="icon-github icon-3x" ></i></a>
  </div>
</div>